@model Solution.FrontEnd.TodoList.Models.Tarea

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDeCreacion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaDeVencimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaDeVencimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Completada)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Completada)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
